.iPhoneCheckContainer {
	-webkit-transform: translate3d(0, 0, 0);
	position: relative;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
}
.iPhoneCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.iPhoneCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: block;
	height: 40px;
	position: absolute;
	width: auto;
	top: 5px;
	padding-top: 5px;
	overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.iPhoneCheckDisabled {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
label.iPhoneCheckLabelOn {
	color: white;
	background: url('../images/iphone-style-checkboxes/on-off.png?1284697268') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
label.iPhoneCheckLabelOn span {
	padding-left: 8px;
}
label.iPhoneCheckLabelOff {
	color: #8b8b8b;
	background: url('../images/iphone-style-checkboxes/on-off.png?1284697268') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iPhoneCheckLabelOff span {
	padding-right: 32px;
}
.iPhoneCheckHandle {
	display: block;
	height: 39px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('../images/iphone-style-checkboxes/slider.png') no-repeat;
	padding-left: 10px;
}
.iPhoneCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 10px;
	background: url('../images/iphone-style-checkboxes/slider.png') no-repeat right 0;
}
.iPhoneCheckHandleCenter {
	height: 100%;
	width: 100%;
	background:url(../images/iphone-style-checkboxes/slider.png) no-repeat center top;
}
.iOSCheckContainer {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
}
.iOSCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.iOSCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}
.iOSCheckContainer, .iOSCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.iOSCheckDisabled {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
label.iOSCheckLabelOn {
	color: white;
	background: url('../images/ios-style-checkboxes/on-off.png?1284697268') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
div.iPhoneCheckContainer label.iOSCheckLabelOn span {
	padding-left: 8px;
	 background:url(../images/iphone-style-checkboxes/sprite.png) no-repeat 1px 1px !important;
}
label.iOSCheckLabelOff {
	color: #8b8b8b;
	background: url('../images/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
div.iPhoneCheckContainer label.iOSCheckLabelOff span {
	padding-right: 8px; background:url(../images/iphone-style-checkboxes/sprite.png) no-repeat 1px 1px !important;
}
.iOSCheckHandle {
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('../images/ios-style-checkboxes/slider.png') no-repeat;
	padding-left: 10px;
}
.iOSCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 10px;
	background: url('../images/ios-style-checkboxes/slider.png') no-repeat right 0;
}
.iOSCheckHandleCenter {
	height: 100%;
	width: 100%;
	background:url(../images/iphone-style-checkboxes/slider.png) no-repeat right top;
}

div.iPhoneCheckContainer label.iPhoneCheckLabelOn span{background:url(../images/iphone-style-checkboxes/sprite.png) no-repeat 5px 3px !important; margin-left:-20px;} /* margin added to set offset */
div.iPhoneCheckContainer label.iPhoneCheckLabelOff span{background:url(../images/iphone-style-checkboxes/sprite.png) no-repeat 5px -21px !important;}
div#uniform-on_off > span{ background-position: 0 -256px !important;}



