/*the slider background*/
.slider {
width:230px;
height:11px;
background:url(../images/slider-bg.png);
position:relative;
margin:8px 0 0 0px ;
padding:0 10px;
float:left;
}

/*Style for the slider button*/
.ui-slider-handle {
width:24px;
height:24px;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
background:url(../images/slider-button.png);
}

/*Result div where the slider value is displayed*/
#slider-result {
font-size:26px;
height:auto;
font-family:Georgia, "Times New Roman", Times, serif;
color:#444444;
width:60px;
text-align:center;
text-shadow:0 0px 0px #000;
font-weight:normal;
padding:0px 30px;
float:left;
}

/*This is the fill bar colour*/
.ui-widget-header {
background:url(../images/fill.png) no-repeat left;
height:8px;
left:1px;
top:1px;
position:absolute;
}

a {
outline:none;
-moz-outline-style:none;
}