/* THEME INNOVA BACK-END PANEL STYLE */
/* ---------------------------------------------------------------------------------- */
/*
01.	

*/



/* GLOBAL STYLE */

*, ul {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	line-height: 1.6;
	color: #444;
}
/* GENERAL STYLE*/

div.wrapper {

}
h2.sectionTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2em !important;
	line-height: 1.6;
	font-weight: normal;
	border-bottom:1px dashed #CCCCCC;
}


div.siteInfoContainer {}
div.row > section{ margin:20px 0px !important;}
div.row > section h3{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.6em; line-height:1.6; font-weight:normal;}
div.siteInfoContainer section > ul li.firstChild { width:200px;}


span.notice{ margin:0 10px; display:inline-block; width:15px; height:15px;}
.tooltip { opacity:1 !important;line-height:18px; padding:0px 3px !important;}


/* LOGO SECTION STYLE */


section.updateInfoContainer_Logo ul{ list-style:none;}
section.updateInfoContainer_Logo ul li{ float:left; margin:20px 20px 20px 0px; }



